:root {
    --background-primary: rgba(255, 255, 255, 1);
    --background-secondary: rgba(255, 255, 255, 0.8);
    --background-overlay: rgba(255, 255, 255, 0.7);

    --label-primary: rgba(0, 0, 0, 0.82);
    --label-secondary: rgba(0, 0, 0, 0.6);
    --label-tertiary: rgba(0, 0, 0, 0.38);

    --divider-solid: #c8c8c8;
    --divider-transparent: rgba(67, 67, 67, 0.36);

    --accent-ocean: #0b818c;
    --red-heart: #ff3b30;
}


html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* font-family: 'Times New Roman' */
    background: url(/img/sarah-lee-QURU8IY-RaI-unsplash.jpg) no-repeat center center fixed;
    /* linear-gradient(75deg,
    rgba(0, 0, 0),
    rgba(255,255,255)), */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#root {
    height: 100%;
}

/* styles */

/* Font sizes */
h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 48pt;
    text-decoration: solid;
}

h2 {
    font-size: 48px;
    line-height: 56px;
}

h3 {
    font-size: 22px;
    line-height: 28px;
}

h4, h5 {
    font-size: 17px;
    line-height: 20px;
}

h6, p {
    font-size: 12px;
    line-height: 18px;
}

/* Font weights */
h1, h2 {
    font-weight: 800;
    color: #F5F5F5;
}

h3, h4, h6 {
    font-weight: 600;
    color: #d4d4d4;
}

h5, p {
    font-weight: 400;
}

/* Letter spacing */
h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.025em;
}

/* landing page */

.landing {
    height: 100%;
    width: 100%;
    margin-left: 0px;
}

.landing-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
    width: 100%;
    height: 100%;
    margin: 0;
}

#landing-p {
    margin-top: 10px;
}

/* dive in button */

#dive-in {
    background-color: #0B818C;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: #F5F5F5;
    height: 60px;
    width: 350px;
}

/* navbar */
.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start !important;
    align-items: start;
    background-color: white;
    height: 60px;
    position: fixed;
}

.nav-buttons {
    padding: 10px;
    color: black;
}


.nav-buttons a {
    color: black;
    text-decoration: none;
}

.nav-buttons a:hover, a:active {
    text-decoration: underline !important;
    text-decoration-thickness: 5px;
    color: #0B818C !important;
}

#landing-link {
    text-decoration: bold, underline;
    color: white;
    font-weight: 800 !important;
}

.cardpage {
    color: #000000D1;
}
.icon_img {
    margin: 0 .25rem;
}
.cardLabel {
    font-family: Noto Sans, sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);

}
.beachType {
    white-space: nowrap;

}
.beach {
    display: inline-block;
    margin-right: 2rem;
}
.search {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    color: #666666;
    /* opacity: 60%; */
    min-width: 370px;
    min-height: 56;
    border-radius: 8px;
}

#search-item {
    margin: 1rem 0.75rem 1rem 0.75rem;
}

#search-item-start {
    display: inline-flex;
}
.cardpage {
    color: #000000D1;
}
.CardTitle {
    font-weight: 800;
    font-family: 'Noto Sans' sans-serif;
    size: 34px;

}
.CardAddress {
    font-weight: 600;
    font-family: 'Noto Sans' sans-serif;
    size: 17px;
}
.icon_img {
    margin: 0 .25rem;
}
.cardLabel {
    font-family: Noto Sans, sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);

}
.beachType {
    white-space: nowrap;

}
.beach {
    display: inline-block;
    margin-right: 2rem;

}
.card {
    margin: 1rem;
}
#beach {
    background-color: #F9E69C;
}
#path {
    background-color: #BAE2AC;
}
#access {
    background-color: #B4DBD1;
}

#selectedCard{
    width: 95%;
    height: 95%;
}
.link {
    color: #000000D1;
    text-decoration: none;
}
#static-pages-text {
    height: 100%;
    padding: 100px;
}